:root {
	--main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

h2 {
	font-size: 22px;
}

a {
	text-decoration: none;
	color: black;
}

.container {
	width: 100%;
	max-width: 1400px;
}

.container-body {
	margin-left: 20px;
}

ul {
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	width: 61.09px;
	height: 19px;
	vertical-align: middle;
	margin-top: 30px;
}

.link-navbar {
	display: flex;
	color: black;
}

.link-navbar:hover {
	color: var(--main-color);
}


nav {
	display: flex;
    align-items: center;
}

nav li:hover:before {
    content: "";
    position: absolute;
	justify-items: center;
    height: 2px;
	width: 7%;
    top: 0px;
    background-color: var(--main-color);
}

nav ul {
	gap: 67px;
	display: flex;
	justify-content: space-between;
}

nav li {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

#form-search {
	margin-top: 64px;
}

form {
	display: flex;
	align-items: center;
}

.form-city {
	padding: 35px 0 0 0;
}

.filtres {
	display: flex;
	padding: 50px 0 0 0;
}

.optionFilter {
	display: flex;
}

.icon_search {
	background-color: var(--main-bg-color);
	width: 50px;
	height: 49px;
	border-radius: 10px 0 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-map {
	font-size: 19px;
}
  
input[type="search"][value] {
	height: 49px; 
	border: 0.5px solid var(--main-bg-color);
	font-weight: 700;
	font-size: 18px;
	text-align: center;
}

button[type="submit"] {
	background-color: var(--main-color);
	width: 132px;
	height: 49px;
	color: white;
	border: none;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
}

.checkbox-filter {
	appearance: none;
	border: 2px
}

.buttonFilter {
	display: flex;
	border: 2px solid var(--main-bg-color);
	border-radius: 30px;
	font-weight: 700;
	height: 50px;
	align-items: center;
	vertical-align: middle;
	padding: 0 19px 0 21px;
	margin-left: 20px;
	gap: 5px;
}

.buttonFilter:hover {
	background-color: var(--main-color);
	color: var(--main-bg-color);
	border: 2px solid var(--main-color);
}

.buttonFilter:hover .iconFilter {
    color: white;
}

.iconFilter {
	color: var(--main-color);
}

.info {
	display: flex;
	align-items: center;
}

.circleInfo {
	width: 24px;
	height: 24px;
	border: 2px solid var(--main-bg-color);
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconeInfo {
	color: var(--main-color);
	font-size: 10px;
}

.textInfo {
	margin-left: 10px;
}

.hebergements-and-populars {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	width: 100%;
}

.hebergements-and-populars section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements {
	width: 924px;
}

.hebergement-card {
	display: grid;
	grid-template-columns: repeat(3, 250.33px);
	grid-template-rows: repeat(2, 207.25px);
	grid-gap: 30px;
}

.card-title {
	margin-top: 0;
	margin-bottom: 0.25rem;
	font-size: 16px;
}

.card-subtitle {
	margin: 0;
	font-size: 14px;
}

.hebergement-card .card {
	margin-top: 30px;
	padding: 0px 0px 15px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	grid-gap: 1rem;
	width: 100%;
	height: 100%;
	color: black;
	transform: scale(1);
	transition: transform 0.5s ease;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
  
.card:hover {
	transform: scale(1.05);
	transition: transform 0.5s ease;
}

.hebergement-card img {
	border-radius: 20px 20px 0px 0px;
	border: 5px solid #FFFFFF;
	align-self: stretch;
	height: 124px;
	object-fit: cover; 
	overflow: hidden;
}

.hebergement-card .card-txt {
	padding-left: 15px;
}

.card-rating {
	padding-left: 15px;	
	color: var(--main-color);
}

.neutralStar {
	color: var(--main-bg-color);
}

.more {
	margin-top: 70px;
}

.popular {
	width: 429px;
}
	
.popularTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.iconPopular {
	color: var(--main-color);
}

.populars-cards .card {
    display: flex;
    margin-top: 33px;
	width: 369px;
}

.populars-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	object-fit: cover; 
}

.populars-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populars-cards .card-title {
	margin-top: 10px;
    margin-bottom: 4px;
}

.populars-cards .card-subtitle {
	margin: 0;
}

.populars-cards .card-rating {
    margin-bottom: 5px;
}

.activity-list {
	padding: 65px 0 0 30px;
}

.activityListCard {
	display: flex;
	gap: 30px;
	padding-top: 30px;
}

.activityCard {
	width: 297.5px;
	height: 439px;
	background-color: white;
	border-radius: 20px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
	transform: scale(1);
	transition: transform 0.5s ease;
}

.activityCard:hover {
	transform: scale(1.05);
	transition: transform 0.5s ease;
}

.activityCard img {
	width: 297.5px;
	height: 380px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover; 
}

.activity-card-content {
	display: flex;
	padding: 0 0 0 19px;
}

.activity-card-title {
	vertical-align: middle;
	font-size: 16px;
	color: black;
}

footer {
	display: flex;
	background-color: var(--main-bg-color);
	margin-top: 65px;
	padding: 20px;
	bottom: 0;
}

.footer-column-left {
	flex-basis: 33.33%;
}
.footer-column-center {
	flex-basis: 33.33%;
}
.footer-column-right {
	flex-basis: 33.33%;
}

@media (max-width: 1024px) {

	.filtres {
		display: block;
	}
	
	.buttonFilter {
		margin-left: 0;
		margin-right: 20px;
	}

    .hebergements-and-populars {
		display: block;
	}

	.hebergement-card {
		grid-template-columns: repeat(3, 268px);
	}
	
	.popular {
		width: 924px;
		margin-top: 20px;
	}
	
	.populars-cards {
		display: flex;
		width: 100%;
	}
	
	.populars-cards .card {
		width: 274px;
		margin-right: 20px;
	}
	
	.activityCard {
		width: 193.5px;
		height: 270px;
	}
	
	.activityCard img {
		width: 193.5px;
		height: 200px;
	}
	
	/* .img1 {
		content: url('../assets/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
	} */
}

@media (max-width: 768px) {

	.container header {
		display: block;
		text-align: center;
	}

	.link-navbar {
		margin-top: 30px;
	}

	nav li:hover:before {
		content: "";
		position: absolute;
		justify-items: center;
		height: 2px;
		width: 50%;
		top: 145px;
		background-color: var(--main-color);
	}

	nav ul {
		justify-content: space-around;
		width: 100%;
	}

	nav li:before {
	content: "";
	position: absolute;
	justify-items: center;
	height: 2px;
	width: 58%;
	top: 145px;
	background-color: var(--main-bg-color);
	}

	input[type="search"][value] {
		height: 49px; 
		border: 0.5px solid var(--main-bg-color);
		font-weight: 700;
		font-size: 18px;
		text-align: center;
	}

	button[type="submit"] {
		width: 49px;
		border-radius: 15px 15px 15px 15px;
		margin-left: -20px;
	}

	button[type="submit"]::before {
		content: "\f002";
		font-family: "Font Awesome 5 Free";
	}

	button[type="submit"] span {
		display: none;
	}

	.optionFilter {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, 70px);
		font-size: 14px;
	}
	
	.hebergement-card {
		grid-template-columns: repeat(1, 335px);
	justify-content: center;
	}

	.hebergements {
		width: 0;
	}

	.populars-cards {
		display: block;
	}

	.populars-cards .card {
		width: 95%;
	}
	.popular {
		width: 0;
		background-color: white;
		/* pourquoi ça ne m'enleve pas mon background ? */
	}
	.activity-list {
		padding: 65px 0 0 0px;
	}

	.activityListCard {
		display: block;
	}

	footer {
		display: block;
	}

	.hebergements-and-populars section {
		margin-left: -5%;
		width: 110%;
		border-radius: 0px;
		padding-bottom: 105px;
	}

	.more {
		display: none;
	}

	.activityCard img {
		width: 100%;
	}
	
	.activityCard {
		display: block;
		width: 96%;
		margin-bottom: 15px;
	}

	footer {
		margin-left: -10px;
		width: 100%;
	}

	.footer-column-left {
		padding-bottom: 50px;
	}

	.footer-column-center {
		padding-bottom: 50px;
	}

	.footer-column-right {
		padding-bottom: 50px;
	}

	body {
		width: fit-content;
		margin: auto;
	}

}